.arrivals {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.topDiv {
    margin-top: 75px;
    margin-bottom: 70px;
}

.span {
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background: #8a33fd;
}

.title {
    width: 394px;
    height: 31px;
    color: #3c4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.68px;
    margin-bottom: 0;
}

.cardArrive {
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    background-color: #f2f7f7b5;
}

.imgCard {
    width: 100%;
    height: 230px;
    border-radius: 12px;
}

.titleCard {
    margin-top: 33px;color: #3C4242;
    font-family: Causten;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
}